log_format chuqian_body_log_format escape=json '$time_local##$chuqian_req_body';

server {
     listen 8082;
     charset utf-8;
     server_name localhost 192.168.170.1;
     lua_need_request_body on;

     location ~/chuqian {
         set $chuqian_req_body '';
         content_by_lua_block {
              local json = require "cjson.safe"
              local data = ngx.req.get_body_data()
              -- 解码回表
              function chuqianReqBodyDecode(reqBody)
                json_data_encode = json.encode(reqBody)
                --log_str=logFormatStr(json_data_encode)
                --log_str=''
                json_data_decode = json.decode(reqBody)
                ngx.log(ngx.ERR, "body : ", json_data_encode)
                if (json_data_decode.device.os == "ios") then 
                  log_str=logFormatStrDecode(json_data_decode.app.name,json_data_decode.imp[1].dealid,json_data_decode.device.deviceidtype,json_data_decode.device.os,json_data_decode.device.ip,json_data_decode.device.model,json_data_decode.device.brand,json_data_decode.device.devicetype,json_data_decode.device.idfa,json_data_decode.device.user_agent)
                else
                  log_str=logFormatStrDecode(json_data_decode.app.name,json_data_decode.imp[1].dealid,json_data_decode.device.deviceidtype,json_data_decode.device.os,json_data_decode.device.ip,json_data_decode.device.model,json_data_decode.device.brand,json_data_decode.device.devicetype,json_data_decode.device.oaid,json_data_decode.device.user_agent)
                end
                return log_str
              end

              --function logFormatStr(data)
                --return string.format("%s",data)
              --end
              -- 格式化输出
              function logFormatStrDecode(app_name,imp_dealid,device_id_type,device_os,device_ip,device_model,device_brand,device_type,device_id,device_ua)
                  return string.format("%s##%s##%s##%s##%s##%s##%s##%s##%s##%s",app_name,imp_dealid,device_id_type,device_os,device_ip,device_model,device_brand,device_type,device_id,device_ua)
              end

              ngx.var.chuqian_req_body=chuqianReqBodyDecode(data)
         }
     }
     access_log /logs/chuqian_logs/chuqian.log chuqian_body_log_format;
     error_log /logs/chuqian_logs/error.log;
}